#uploadTable
{
	background-color: #2a76b2;
	padding-bottom: 4px;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	width: 411px;
	color: #FFFFFF;
	font-weight: bold;
}

.ButtonStandard
{
	width: 90px;
}